.file-tree {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;

  &__scroll {
    flex: 1;
    min-height: 0;
    overflow: auto;
    overscroll-behavior: contain;
    width: 100%;
  }
}
