.file-tree {
  height: 100%;
  min-height: 0;
  display: grid;
  grid-template-rows: auto 1fr;

  &__header {
    padding: 1rem 1rem 0.6rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  }
}
