@use "./shogiBoardGeometry" as geo;

.board-container {
  width: 100%;
  max-width: geo.$board-max-w;
  height: auto;
  aspect-ratio: #{geo.board-aspect()};

  position: relative;

  background-image: url(/src/assets/board.png);

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 0.2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  user-select: none;
}

.position {
  position: absolute;

  inset: #{geo.inset-y-pct()} #{geo.inset-x-pct()};

  border: geo.$position-border solid #000;

  &__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}

.square {
  border-right: geo.$square-line solid #000;
  border-bottom: geo.$square-line solid #000;

  &:nth-child(9n) {
    border-right: none;
  }
  &:nth-child(n + 73) {
    border-bottom: none;
  }
}
