@use "GameBoardLayoutGeometry.scss" as layout;
@use "shogiBoardGeometry.scss" as geo;

$gap: 1.8rem;
$hand-header-h: 4rem;
$hand-gap: 0.8rem;

$cluster-extra-y: $hand-header-h + $hand-gap;

.game-board {
  width: 100%;
  height: 100%;

  min-width: 0;
  min-height: 0;

  display: grid;
  place-items: center;
  container-type: size;

  &__cluster {
    width: min(100%, #{layout.$cluster-max-w});

    display: grid;

    grid-template-columns:
      minmax(0, 1fr) minmax(0, #{layout.$board-fr}fr)
      minmax(0, 1fr);
    grid-template-rows: auto;

    column-gap: $gap;

    align-items: stretch;
    min-width: 0;

    @supports (width: 1cqh) {
      width: min(
        100%,
        #{layout.$cluster-max-w},
        calc(max(0px, 100cqh - #{$cluster-extra-y}) * #{layout.$cluster-aspect})
      );
    }
  }
  &__board {
    grid-column: 2;
    min-width: 0;
    width: 100%;
    display: grid;
    place-items: start center;
  }

  &--rotated {
    .game-board__cluster {
      transform: rotate(180deg);
    }
  }

  &__hand {
    min-width: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: $hand-gap;

    &--topLeft {
      grid-column: 1;
      justify-self: start;
      align-self: start;
    }

    &--bottomRight {
      grid-column: 3;
      justify-self: end;
      align-self: end;
    }
  }

  &__handArea {
    width: 100%;
    aspect-ratio: #{layout.$hand-aspect};
    height: auto;

    container-type: inline-size;

    min-width: 0;
    min-height: 0;

    overflow: hidden;
  }

  &__handHeader {
    min-width: 0;
    height: $hand-header-h;
    display: flex;
    align-items: center;
  }
}
