@use "@/index.scss" as index;

.analysis-pane {
  width: 100%;
  height: 100%;
  background-color: index.$color-primary-dark;
  min-height: 0;

  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24),
    0 0 0 1px rgba(245, 245, 245, 0.05);

  border: 1px solid rgba(245, 245, 245, 0.06);
  transition: box-shadow 0.3s ease;
}
