@use "@/index.scss" as index;

.candidates-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0.6rem 2rem;

  &__empty {
    color: index.$color-text-light-1;
    font-size: 1.2rem;
    text-align: center;
    margin: 0.8rem 0;
    opacity: 0.7;
  }
}
