@use "@/index.scss" as index;

.evaluation-bar {
  display: flex;
  width: 50%;
  height: 1.5rem;
  border: 1px solid rgba(index.$color-text-primary, 0.4);
  overflow: hidden;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
  margin-left: 2.8rem;
  margin-right: auto;

  &__center-line {
    width: 1px;
    height: 100%;
    background-color: rgba(index.$color-text-primary, 0.4);
  }

  &__side {
    height: 100%;
    transition: width 0.4s ease;

    &--black {
      background: linear-gradient(to right, #444, #666);
    }

    &--white {
      background: linear-gradient(to left, #eee, #fff);
    }
  }
}
