@use "@/index.scss" as index;

.move-sequence {
  display: grid;
  grid-template-columns: minmax(6.5ch, max-content) 1fr;
  align-items: baseline;
  column-gap: 0.3rem;

  padding: 0.25rem 1.6rem;
  color: index.$color-text-primary;
  line-height: 1.35;

  white-space: nowrap;
  overflow: hidden;

  font-size: 1.22rem;
  &__primary {
    font-weight: 560;
  }

  &__candidate {
    font-weight: 440;
  }

  &__pv {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__evaluation {
    font-weight: 520;
    font-variant-numeric: tabular-nums;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3rem;
  }

  &__move {
    display: inline-block;
    margin-right: 0.4rem;
    &:last-child {
      margin-right: 0rem;
    }
  }
}
