@use "@/index.scss" as index;

.stats-section {
  height: 3.1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding-left: 4.5rem;
  padding-top: 0.7rem;
  background-color: index.$color-primary-black;
  color: index.$color-text-primary;
  font-size: 1.1rem;
  &__item {
    display: flex;
    align-items: flex-start;
    margin-left: 0.9rem;
    // gap: 0.4rem;
    // flex: 1;
  }
}
