@use "@/index" as index;

.position-navigation-modal {
  &__header {
    padding: 18px 22px 14px;
    border-bottom: 2px solid rgba(index.$color-primary-light, 0.3);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 14px;

    &-left {
      min-width: 0;
      display: grid;
      gap: 6px;
    }
    &-right {
      flex-shrink: 0;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
