@use "../../../index.scss" as index;

.square {
  position: relative;

  &:hover {
    background-color: rgba(80, 170, 200, 0.25);
    outline: 0.4px solid rgba(60, 130, 180, 0.4);
  }

  // 選択されていることが分かるように
  &__highlighted {
    background-color: rgba(100, 130, 100, 0.12);
    outline: none;

    cursor: pointer;
  }

  // 最後の手が分かるように
  &__last-move {
    background-color: rgba(180, 220, 255, 0.35);
    outline: 1px solid rgba(80, 140, 220, 0.5);
  }

  &.square--selected {
    background-color: rgba(index.$color-secondary-dark, 0.22);
    outline: 1px solid rgba(index.$color-secondary-dark, 0.28);
    outline-offset: -1px;
  }

  &.square--selected .piece {
    transform: scale(1.03);
    filter: brightness(1.06);
  }

  &.square--selected .piece:hover {
    transform: scale(1.06);
  }
}
