@use "../index.scss" as index;

.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  position: relative;

  .sidebar__btn--toggle {
    position: fixed;
    top: 0;
    left: 5rem;
    z-index: 1000;
  }

  &__main-container {
    flex-grow: 1;
    color: index.$color-text-light-1;
    background-color: index.$color-primary-light;
  }
}
