@use "../index.scss" as index;

.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  position: relative;

  .sidebar__btn--toggle {
    position: fixed;
    top: calc(0.7rem + #{index.$titlebar-height});
    left: 1.6rem;
    z-index: 1000;
    color: index.$color-text-light-1;
    background-color: index.$color-primary-dark;
  }

  &__analysis-controls {
    position: absolute;
    top: calc(0.2rem + #{index.$titlebar-height});
    right: 9%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 50;

    background-color: rgba(255, 255, 255, 0.02);
    padding: 0.8rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 8pxx rgba(0, 0, 0, 0.2);
  }

  &__main-container {
    flex-grow: 1;
    color: index.$color-text-light-1;
    background-color: index.$color-primary-light;

    & .main-container__game {
      padding: 0;
      margin: 0 auto;
      width: 85rem;
      height: 50rem;
    }
  }

  &__footer-container {
    margin-top: 5.7em;
    width: 100%;
  }
}
