@use "../index.scss" as index;

.container {
  height: 100vh;
  width: 100vw;
  background-color: index.$color-primary-dark;
  color: index.$color-text-light-1;
}

.guide--text {
  font-size: 3.3rem;
  text-align: center;
}
