@use "@/index.scss" as index;

.shogi-button {
  border: none;
  border-radius: 6px;
  font-size: 1.6rem;
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: index.$color-white;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--small {
    font-size: 1.2rem;
    padding: 0.4rem 1.2rem;
  }

  &--medium {
    font-size: 1.6rem;
    padding: 0.6rem 1.6rem;
  }

  &--large {
    font-size: 2rem;
    padding: 0.8rem 2rem;
  }

  &--primary {
    background-color: index.$color-secondary-dark;

    &:hover {
      background-color: index.$color-secondary-dark-2;
    }
  }

  &--secondary {
    background-color: index.$color-primary-dark;

    &:hover {
      background-color: lighten(index.$color-primary-dark, 5%);
    }
  }

  &--danger {
    background-color: #aa3e39;

    &:hover {
      background-color: darken(#aa3e39, 10%);
    }
  }

  &--ghost {
    background-color: transparent;
    color: index.$color-primary-dark;
    border: 1px solid index.$color-primary-dark;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }
}
