@use "@/index.scss" as index;

.candidates-section {
  display: grid;
  gap: 0.25rem;
  padding: 0.25rem var(--pane-px) 0.4rem;

  &__empty {
    color: index.$color-text-light-1;
    font-size: 1.2rem;
    text-align: center;
    margin: 0.6rem 0;
    opacity: 0.7;
  }
}
