.game-controls {
  display: flex;
  width: 100%;
  gap: 0;
  margin: 0 auto;

  .control-button {
    &:not(:first-child) {
      border-left: none;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
