@use "@/index.scss" as index;

.game-controls {
  display: flex;
  width: clamp(44rem, 70%, 72rem);
  margin: 0 auto;

  display: flex;
  overflow: hidden;
  border-radius: 1.2rem;

  background: rgba(index.$color-primary-black, 0.28);
  border: 1px solid index.$stroke-weak;
  box-shadow: index.$shadow-1;
}
