@use "@/index.scss" as index;

.pos-search {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;

  &__main {
    display: flex;
    min-height: 0;
    flex: 1;

    overflow: hidden;
    padding: 1.5rem;
  }

  &__grid {
    flex: 1;
    min-height: 0;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 14px;
  }

  &__left,
  &__right {
    min-height: 0;
    border: 1px solid index.$stroke;
    border-radius: 12px;
    background: rgba(index.$color-primary-light, 0.06);

    display: flex;
    flex-direction: column;
    overflow: hidden;
    backdrop-filter: blur(8px);
  }

  &__left {
    padding: 12px;
    gap: 10px;
  }

  &__right {
    padding: 12px;
    gap: 10px;
    .pos-search__preview {
      flex: 1 1 auto;
      min-height: 0;
      overflow: hidden;
    }

    .pos-search__aux {
      flex: 0 1 auto;
      min-height: 0;
      overflow: hidden;

      display: grid;
      gap: 10px;
    }
  }

  &__paneTitle {
    font-size: 1.2rem;
    color: rgba(index.$color-text-light-1, 0.7);
  }
}
